<div class="super-container">
  <app-header></app-header>

  <!-- Home -->

  <!-- <div class="home">
    <div
      class="home_background parallax-window"
      data-parallax="scroll"
      data-image-src="images/shop_background.jpg"
    ></div>
    <div class="home_overlay"></div>
    <div
      class="home_content d-flex flex-column align-items-center justify-content-center"
    >
      <h2 class="home_title">Smartphones & Tablets</h2>
    </div>
  </div> -->
  <app-shop></app-shop>
  <app-viewed></app-viewed>
  <app-brands></app-brands>
  <app-newsletter></app-newsletter>
  <app-footer></app-footer>
  <app-copyright></app-copyright>
</div>
