<!-- Shop Content -->

<div class="shop_content">
	<div class="shop_bar clearfix">
		<div class="shop_product_count">
			<span>{{ getQtdeProdutos() }}</span> products found
		</div>
		<div class="shop_sorting">
			<span>Sort by:</span>
			<ul>
				<li>
					<span class="sorting_text"
						>highest rated<i class="fas fa-chevron-down"> </i
					></span>
					<ul>
						<li
							class="shop_sorting_button"
							data-isotope-option='{ "sortBy": "original-order" }'
						>
							highest rated
						</li>
						<li
							class="shop_sorting_button"
							data-isotope-option='{ "sortBy": "name" }'
						>
							name
						</li>
						<li
							class="shop_sorting_button"
							data-isotope-option='{ "sortBy": "price" }'
						>
							price
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="product_grid">
		<div class="product_grid_border"></div>

		<!-- Product Item -->
		<app-product-item
			*ngFor="let produto of produtos"
			[produto]="produto"
		></app-product-item>
	</div>

	<!-- Shop Page Navigation -->

	<div class="shop_page_nav d-flex flex-row">
		<div
			class="page_prev d-flex flex-column align-items-center justify-content-center"
		>
			<i class="fas fa-chevron-left"></i>
		</div>
		<ul class="page_nav d-flex flex-row">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">21</a></li>
		</ul>
		<div
			class="page_next d-flex flex-column align-items-center justify-content-center"
		>
			<i class="fas fa-chevron-right"></i>
		</div>
	</div>
</div>
