<!-- Newsletter -->

<div class="newsletter">
	<div class="container">
		<div class="row">
			<div class="col">
				<div
					class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center"
				>
					<div class="newsletter_title_container">
						<div class="newsletter_icon">
							<img src="images/send.png" alt="" />
						</div>
						<!-- <div
							class="newsletter_title"
							[ngStyle]="{ backgroundColor: getCor() }"
						>
							Sign up for Newsletter
						</div> -->
						<div
							class="newsletter_title"
							[ngClass]="{ enviado: emailEnviado }"
						>
							Sign up for Newsletter
						</div>
						<!-- <div class="newsletter_text">
							<p>{{ textNewsLetter }}</p>
						</div>
						<div class="newsletter_text">
							<p>{{ email }}</p>
						</div> -->
						<div class="newsletter_text">
							<p *ngIf="emailEnviado; else naoEnviado">
								E-mail enviado com sucesso: {{ email }}
							</p>
							<ng-template #naoEnviado>
								<p>E-mail não enviado ainda</p>
							</ng-template>
						</div>
					</div>
					<div class="newsletter_content clearfix">
						<!-- <form action="#" class="newsletter_form"> -->
						<!--
							Event
							Bingings
              -->
						<input
							type="email"
							class="newsletter_input"
							required="required"
							placeholder="Enter your email address"
							(input)="onEmailEnter($event)"
						/>
						<!--
							"Tow-Way-Databindings"
							-->
						<!-- <input
							type="email"
							class="newsletter_input"
							required="required"
							placeholder="Enter your email address"
							[(ngModel)]="email"
						/> -->

						<button
							class="newsletter_button"
							[disabled]="!permiteNewsLetter"
							type="button"
							(click)="onSubmitNewsLetter()"
						>
							Subscribe
						</button>
						<!-- </form> -->
						<div class="newsletter_unsubscribe_link">
							<a href="#">unsubscribe</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
